<?xml version="1.0" ?>
<launch>

	<!-- GENERAL ARGUMENTS -->
	<arg name="robot_name" default="panda"/>
	<arg name="tool_name" default="microBK"/>
	<arg name="simulation" default="false"/>
	<arg name="safety_distance" default="0.03"/>

	<!-- ROBOT SETUP -->
	<include file="$(find robot_arm_tools)/launch/Setup_$(arg robot_name).launch">
		<arg name="tool_name" value="$(arg tool_name)"/>
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="safety_distance" value="$(arg safety_distance)"/>
	</include>

	<!-- MEASUREMENT SERVER -->
	<node pkg="robot_arm_acoustic" type="SoundMeasurementServer.py" name="sound_measurement_server" output="screen"/>

	<!-- MAIN NODE -->
	<param name="measurementServerName" value="/sound_measurement_server"/>
	<param name="storageFolderName" value="/tmp/DirectivityMeasurements/"/>
	<rosparam command="load" file="$(find robot_arm_acoustic)/config/AcquisitionParameters.yaml"/>
	<node pkg="robot_arm_acoustic" type="robot_arm_acoustic_directivity_measurement_node" name="robot_arm_acoustic_directivity_measurement_node" output="screen"/>

	<!-- Run Rviz --> 
    <param name="environmentFileName" value="$(find robot_arm_acoustic)/config/environments/AnechoicRoom.yaml"/>
    <node pkg="robot_arm_tools" type="robot_arm_tools_environment_node" name="robot_arm_tools_environment_node" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_arm_acoustic)/config/AcousticSetup.rviz"/>

</launch>
