<?xml version="1.0" ?>
<launch>

	<!-- GENERAL ARGUMENTS -->
	<arg name="robot_name" default="panda"/>
	<arg name="tool_name" default="microGRAS_alternate"/>
	<arg name="simulation" default="false"/>
	<arg name="calibration" default="true"/>
	<arg name="safety_distance" default="0.03"/>

	<!-- ROBOT SETUP -->
	<include file="$(find robot_arm_tools)/launch/Setup_$(arg robot_name).launch">
		<arg name="tool_name" value="$(arg tool_name)"/>
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="calibration" value="$(arg calibration)"/>
		<arg name="safety_distance" value="$(arg safety_distance)"/>
		<arg name="planner_name" default="RRTstar"/>
	</include>

	<!-- STUDIED OBJECT -->
	<node pkg="robot_arm_tools" type="robot_arm_tools_environment_node" name="robot_arm_tools_environment_node_object" output="screen">
		<param name="environmentFileName" value="$(find robot_arm_acoustic)/config/environments/Propeller.yaml"/>
	</node>

	<!-- MEASUREMENT SERVER -->
	<param name="measurementServerName" value="/ok_server"/>
	<param name="measurementServerStorageFolder" value="$(env HOME)/Desktop/Garteur/"/>
	<node pkg="robot_arm_tools" type="OKMeasurementServer" name="ok_server" output="screen"/>
	
	<!-- MAIN NODE -->
	<node pkg="robot_arm_acoustic" type="robot_arm_acoustic_garteur_node" name="robot_arm_acoustic_garteur_node" output="screen" required="true">
		<param name="trajectoryFilePath" value="$(find robot_arm_acoustic)/config/GarteurPoses.yaml"/>
	</node>

	<!-- Run Rviz --> 
    <node pkg="robot_arm_tools" type="robot_arm_tools_environment_node" name="robot_arm_tools_environment_node_environment" output="screen">
		<param name="environmentFileName" value="$(find robot_arm_acoustic)/config/environments/GarteurAnechoicRoom.yaml"/>
	</node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_arm_acoustic)/config/AcousticSetup.rviz"/>

</launch>
