<?xml version="1.0" ?>
<launch>

	<!-- GENERAL ARGUMENTS -->
	<arg name="robot" default="panda"/>
	<arg name="tool" default="micro2"/>
	<arg name="simulation" default="false"/>

	<!-- ROBOT SETUP -->
	<include file="$(find robot_arm_tools)/launch/Setup_$(arg robot).launch">
		<arg name="load_$(arg tool)" value="true"/>
		<arg name="simulation" value="$(arg simulation)"/>
	</include>
	
	<!-- MEASUREMENT SERVER -->
	<node pkg="robot_arm_acoustic" type="PropellerMeasurementServer.py" name="propeller_measurement_server" output="screen"/>

	<!-- MAIN NODE -->
	<node pkg="robot_arm_acoustic" type="robot_arm_acoustic_spheric_measurement_node" name="robot_arm_acoustic_spheric_measurement_node" output="screen">
		<param name="measurementServerName" value="/propeller_measurement_server"/>
		<param name="storageFolderName" value="/tmp/PropellerMeasurements/"/>
		<rosparam command="load" file="$(find robot_arm_acoustic)/config/AcquisitionParameters.yaml"/>
	</node>

	<!-- Run Rviz --> 
    <param name="environmentFileName" value="$(find robot_arm_acoustic)/config/environments/AnechoicRoom.yaml"/>
    <node pkg="robot_arm_tools" type="robot_arm_tools_environment_node" name="robot_arm_tools_environment_node" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_arm_tools)/config/RViz/AcousticSetup.rviz"/>

</launch>